<app-header></app-header>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <!-- <img mat-card-image src="img1.jpg"> -->
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Usuario">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" type="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">login</button>
        </form>
    </mat-card>
</div>
<app-footer></app-footer>